server:
  http_listen_port: 9080
  grpc_listen_port: 0
positions:
  filename: /tmp/positions.yaml
clients:
  - url: http://loki:3100/loki/api/v1/push
scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: codespace-logs
          __path__: /var/log/syslog
  - job_name: devops-hello-container
    static_configs:
      - targets:
          - localhost
        labels:
          job: devops-app
          environment: codespace
